body {
    width: fit-content;
    font-family: monospace;
    background-color: #d6d6d6;
    padding: 24px;
    display: flex;
    gap: 32px;
}

aside, main {
    background-color: #c2c2c2;
    padding: 24px;
    border-radius: 24px;
    box-shadow: inset 2px 2px 4px #ffffff,
        inset -2px -2px 4px #858585,
        6px 6px 12px #5c5c5c;
    position: relative;
}

aside {
    height: fit-content;
    border-radius: 8px;
    display: grid;
    gap: 16px;
}

.input-block label {
    margin: 4px 6px;
    position: absolute;
}

.input-block input {
    font-family: inherit;
    font-size: 1.5em;
    padding: 4px;
    padding-top: 23px;
}

main::before {
    content: "";
    background-color: #0f0f0f;
    border-radius: 8px;
    box-shadow: 2px 2px 4px #ffffff,
        -2px -2px 4px #858585,
        inset 3px 3px 6px #000000;
    position: absolute;
    inset: 24px;
}

canvas {
    background-color: #191919;
    margin: 20px;
    vertical-align: bottom;
    position: relative;
}
